@import "../../App.scss";
.payment-container {
  display: flex;
  justify-content: center;

  .payment {
    border: 0.3rem dashed $clr-primary;
    padding: 0.5rem;
    border-radius: $radius;
    background-color: #fff;
  }
  .payment-title {
    font-family: $ff-secondary;
    font-size: 1rem;
  }
  button {
    margin-top: 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media screen and (min-width: 576px) {
  .payment-container {
    justify-content: flex-end;
    margin: 0 2rem;
    .payment-title {
      font-size: 1.5rem;
    }
    .payment {
      padding: 1rem;
    }
  }
}
