@import "../../../App.scss";

.details-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  // padding: 1rem;
}
.details-image-container {
  width: 70%;
  align-self: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.details-info {
  min-height: 100%;
  letter-spacing: $spacing;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .text-container {
    span {
      color: $clr-secondary;
    }
    h2 {
      margin-bottom: 0.5rem;
    }
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 575px) {
  .details-container {
    flex-direction: row;
    .details-image-container {
      flex-basis: calc(50% - 1rem);
      height: 50vh;
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
    .details-info {
      flex-basis: calc(50% - 1rem);
      flex-grow: 1;
    }
    .btn-container {
      justify-content: left;
    }
  }
  .text-container h2 {
    margin-bottom: 1rem;
  }
}
