@import "../../../App.scss";

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
}
.btn-top {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 50% !important;
  padding: 0.9rem 0.5rem !important;
  border: 0.2rem solid $clr-primary-light;
  outline: none;
  margin: 0 auto;
}
