@import "../../App.scss";
.emptyCart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    padding-bottom: 3rem;
  }
}

// @media screen and (min-width: 576px) {
//   .emtyCart-container h2 {
//     font-size: 5rem;
//     padding-bottom: 5rem;
//   }
// }
