@import "../../App.scss";

footer {
  background-color: $clr-primary;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    color: $clr-white;
    text-transform: capitalize;
    text-align: center;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 600px) {
  footer h3 {
    letter-spacing: $spacing-l;
    font-size: 1rem;
  }
}
