@import "../../App.scss";

.inCart-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  border: 0.1rem solid black;

  & > * {
    flex-grow: 1;
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: none;
  }
  h2 {
    text-align: center;
  }
  button {
    border: none;
    font-size: 2rem;
  }
}

.inCart-image-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  img {
    max-width: 80%;
    height: 150px;
  }
}

.quantityBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    color: $clr-green;
    display: inline;
  }
  h2 {
    text-align: center;
    margin: 0 0.5rem;
  }
}

.removeBtn {
  color: $clr-secondary;
  background-color: transparent;
}
#disabledBtn {
  opacity: 0.5;
}

@media screen and (min-width: 576px) {
  .inCart-items-container > * {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .inCart-items-container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;

    .inCart-title,
    .price,
    .total-price {
      flex-basis: 20%;
    }

    .quantityBtn {
      flex-basis: 10%;
    }
    .removeBtn {
      flex-basis: 5%;
    }
  }
  .inCart-image-container {
    flex-basis: 20%;
    img {
      max-width: 100%;
      max-height: 180px;
      object-fit: cover;
    }
  }
}
