@import "../../App.scss";

#inCart__item-container {
  flex-direction: column;
}

#disabledBtn {
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  #items-container {
    flex-direction: row;
  }
  #items-container img {
    width: 50%;
  }
}
