@import "../../App.scss";

.inCart-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding: 1rem;
  a {
    text-decoration: none;
  }
  h3 {
    text-align: center;
  }
}

.inCart-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 50%;
  }
}

.inCart-quantityBtn {
  text-align: center;
  display: flex;
  flex-direction: row;

  button {
    color: $clr-green;
    font-size: 1.5rem;
    display: inline;
  }
  h3 {
    text-align: center;
    margin: 0 0.5rem;
  }
}

.inCart-removeBtn {
  color: $clr-secondary;
}
#disabledBtn {
  opacity: 0.5;
}

@media screen and (min-width: 576px) {
  .inCart-items-container {
    flex-direction: row;
    justify-content: space-evenly;
    // flex-wrap: wrap;
  }
  .inCart-image-container {
    width: 16%;
  }
}
